<div>
    <h1>Cart Page</h1>
    <nav>
        <button type="submit">Log In/ Sign Up</button>
        <button type="submit">Best Sellers</button>
    </nav>

    <body>
        <aside>
            <h2>Your Cart</h2>
            <h2>SubTotal:</h2>
        </aside>
        <div>
            <h2>Past Orders</h2>
        </div>
    </body>
</div>