<h1>Checkout Page</h1>

<nav>
    <a href="/login" type="button" class="btn btn-secondary float-end">Log In/Sign Up</a>
</nav>

<body>
    <h2>Order Summary</h2>
    {{!-- <div class='container row' id="checkout-products">
        {{#each products }}
        <div class="card m-3 bg-secondary text-light" style="width: 18rem;">
            <img src="{{img}}" class="card-img-top" alt="Book image sourced from online url">
            <div class="card-body">
                <h5 class="card-title">{{product_name}}</h5>
                <p class="card-text">by: {{author}}</p>
                <p class="card-text">${{price}}</p>
            </div>
        </div>
        {{/each}} --}}

        <h2>Order Total</h2>

        <a href="/" class="btn btn-success btn-lg btn-block" role="button">Place Your Order</a>
</body>