<div class='container row'>
    {{#each products }}
    <div class="card m-2 bg-secondary text-light" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product_name}}</h5>
            <p class="card-text">{{author}}</p>
            <p class="card-text">{{price}}</p>
            <a href="#" class="btn btn-primary">Buy it Now</a>
        </div>
    </div>
    {{/each}}


</div>