h1 {
    background-color: #35176fff;
    color: white;
    padding: 15px;
      gap: 10px;
    }

 #title {
   text-decoration: none;
   font-family: Helvetica, sans-serif
 }

 footer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 15px;
   margin-bottom: 15px;
   color: blue;
 }